<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hive Platform{% endblock %}</title>
    <link href="{% static 'src/css/base.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
     <!-- Navigation -->
     <header class="bg-white bottom-border" style="border-bottom: 2px solid black;">
        <div class="container mx-auto px-4 py-3 flex justify-between items-center">
            <div class="flex items-center">
                <a href="{% url 'Talent-page' %}"> <img src="{% static 'images/logo/CashHivelogo.png' %}" alt="Hive Logo" class="h-10 " style="margin-right:10px"> </a>
                
            </div>
            <div class="flex items-center space-x-3 ">
                <nav class="hidden items-center md:flex space-x-12 mr-8 ">

                    <a href="{% url 'Talent-page' %}" class="text-black font-semibold " 
                        style="text-decoration: none; position: relative; display: inline-block; transition: all 0.3s ease;"
                        onmouseover="this.style.color='black'; this.style.backgroundColor='#FDCE02'; this.style.padding='10px 20px 10px 20px'; this.style.borderRadius='10px'; this.style.opacity='1';"
                        onmouseout="this.style.color='black'; this.style.backgroundColor='transparent'; this.style.padding='0'; this.style.borderRadius='0'; this.style.opacity='1';">
                        For&nbsp;Talents
                    </a>

                    <a href="{% url 'DevCommunity-page' %}" class="text-black font-semibold " 
                        style="text-decoration: none; position: relative; display: inline-block; transition: all 0.3s ease;"
                        onmouseover="this.style.color='black'; this.style.backgroundColor='#FDCE02'; this.style.padding='10px 20px 10px 20px'; this.style.borderRadius='10px'; this.style.opacity='1';"
                        onmouseout="this.style.color='black'; this.style.backgroundColor='transparent'; this.style.padding='0'; this.style.borderRadius='0'; this.style.opacity='1';">
                        Dev&nbsp;community
                    </a>

                    <a href="{% url 'About_us-page' %}" class="text-black font-semibold " 
                        style="text-decoration: none; position: relative; display: inline-block; transition: all 0.3s ease;"
                        onmouseover="this.style.color='black'; this.style.backgroundColor='#FDCE02'; this.style.padding='10px 20px 10px 20px'; this.style.borderRadius='10px'; this.style.opacity='1';"
                        onmouseout="this.style.color='black'; this.style.backgroundColor='transparent'; this.style.padding='0'; this.style.borderRadius='0'; this.style.opacity='1';">
                        About&nbsp;Us
                    </a>

                    <a href="#" class="text-black font-semibold " 
                        style="text-decoration: none; position: relative; display: inline-block; transition: all 0.3s ease;"
                        onmouseover="this.style.color='black'; this.style.backgroundColor='#FDCE02'; this.style.padding='10px 20px 10px 20px'; this.style.borderRadius='10px'; this.style.opacity='1';"
                        onmouseout="this.style.color='black'; this.style.backgroundColor='transparent'; this.style.padding='0'; this.style.borderRadius='0'; this.style.opacity='1';">
                            Employers
                    </a>
                </nav>            
                    
                    {% comment %} <a href="{% url 'Login'%}" class="text-gray-700 font-semibold hover:text-yellow-500" style="text-decoration: none;">Log&nbsp;in</a> {% endcomment %}
                    <a href="{% url 'Login'%}" class=" bg-white text-black font-semibold  hover:text-black" style="text-decoration: none;padding:10px 20px 10px 20px;border-radius:10px;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);">Log&nbsp;in</a>
                    <a href="{% url 'SignUp' %}" class=" text-black font-semibold  hover:bg-yellow-600" style="text-decoration: none; background:#FDCE02;padding:10px 20px 10px 20px;border-radius:10px;"
                     onmouseover="this.style.color='black'; this.style.backgroundColor='#FDCE02'; "  onmouseout="this.style.color='black'; this.style.backgroundColor='#FDCE02';">
                     Sign&nbsp;up
                    </a>
                </div>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

     

    <footer class="bg-white shadow-inner relative">
        <div class="absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-2 p-2 sm:p-3 md:p-4 lg:p-5 border-black rounded-md bg-white z-10 max-w-full md:max-w-xs lg:max-w-sm">
            <p class="text-sm sm:text-base md:text-lg lg:text-xl pt-3 text-center font-bold">Payment Methods</p>
        </div>
        <div class="container mx-auto px-4 pt-10">
            <div class="flex flex-col md:flex-row md:justify-center md:gap-x-24">
                <!-- Wallets Section -->
                <div class="flex flex-col items-center md:items-start md:w-1/2 mb-8 md:mb-0">
                    <p class="text-xl font-bold text-center md:text-left">Wallets</p>
                    <div class="flex gap-3">
                        <img class="h-9 rounded-xl" src="{% static 'images/Donate/img3.png' %}" alt="MTN">
                        <img class="h-9 rounded-xl" src="{% static 'images/Donate/img2.png' %}" alt="Telecel">
                        <img class="h-9 rounded-xl" src="{% static 'images/Donate/img4.png' %}" alt="AirtelTigo">
                        <img class="h-9 rounded-xl border" src="{% static 'images/Donate/img5.png' %}" alt="Raven">
                    </div>
                </div>
                <!-- Cards Section -->
                <div class="flex flex-col items-center md:items-start md:w-1/2">
                    <p class="text-xl font-bold text-center ml-6 sm:ml-0 md:ml-0 lg:ml-10 md:text-left">Cards</p>
                    <div class="flex flex-wrap gap-5 justify-center md:justify-start mt-1  ml-10">
                        <img class="h-5 md:h-9 rounded-xl" src="{% static 'images/Donate/img1.png' %}" alt="Visa">
                        <img class="h-5 md:h-9 rounded-xl" src="{% static 'images/Donate/img6.png' %}" alt="Master Card">
                    </div>
                </div>
                <div class="absolute left-1/2 transform -translate-x-1/2 -translate-y-1/3 w-0 h-full hidden md:block">
                    <div class="border-l-2 border-black h-full"></div>
                </div>
            </div>
        </div>
    </footer>
    

</body>
</html>
