{% extends 'Donate/donatebase.html' %}

{% comment %} # Theo worked on this  {% endcomment %}

{% load static %}
{% block title %}Hive Donate page{% endblock %}

{% block content %}
        <div class="relative bg-cover bg-center h-screen" style="background-image: url('{% static './images/Donate/bg.png' %}');">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black opacity-75"></div>
    
    <!-- Content -->
    <div class="h-full flex flex-col justify-center items-center relative z-10 container mx-auto px-6 py-40 text-white text-center">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Empower Job Seekers Today</h1>
        <p class=" w-4/6 text-lg md:text-2xl mb-8">Support Hive in bridging the gap between job seekers and employers. Your donations fund job training, career counseling, and technology access, empowering individuals and strengthening communities. <br><br> Donate now to make a difference.</p>
    </div>
</div>
{% endblock %}